  @import url(https://fonts.googleapis.com/css?family=Montserrat);
        body {
            margin: 0px;
        }
        .signup {
            width: 100%;
            text-align: center;
            padding-top: 42vh;
        }
        header {
            font-family: 'Montserrat', sans-serif;
            background: url(1.jpg);
            background: linear-gradient(hsla(0,0%,100%,0.5), rgba(236,229,229,.3)),url(1.jpg);
            height: 100vh;
            width: 100%;
            background-size: cover;
        }
        header .signup h1 {
            color: rgb(39, 43, 80);
            margin: 0px;
            padding: 0px;
        }
        header .signup button {
            border: solid 4px #0091EA;
            background: #0091EA;
            color: #E0F7FA;
            padding: 6px 12px;
            border-radius: 50px;
            font-family: 'Montserrat', sans-serif;
            margin: 10px 0px;
        }
        header .signup button:focus {
            outline: 0px;
        }
        header .signup button:hover {
            outline: 2px #03A9F4;
            cursor: pointer;
        }
        .updates {
            background: white;
            width: 100%;
            text-align: center;
            padding: 15px 0px;
            font-family: 'Montserrat', sans-serif;
            position: absolute;
            top: 0px;
            left: 0px;
            display: none;
        }
        .updates .close {
            display: inline-block;
        }
        .updates .close:nth-child(2) {
            color: #29B6F6;
            margin-left: 4px;
            cursor: pointer;
        }
        .updates input {
            font-family: 'Montserrat', sans-serif;
            background: #EEEEEE;
            border: solid 6px #EEEEEE;
        }
        @media screen and (max-width: 500px) {
        .updates input {
            display: block;
            margin: 5px auto;
        }
        }
        .updates input:focus {
            outline: 0px;
        }
        .updates .submit {
            background: #0091EA;
            border: solid 6px #0091EA;
        }
        @media screen and (max-width: 500px) {
        .updates input:nth-child(4) {
            display: block;
            margin: 20px auto;
        }
        }
        .vis {
            display: block;
        }